*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#intestazione{
    background-color:rgb(62,151,251);
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: 42%;
}

.logo{
    height: 45%;
    margin-top: 45px;
}